<section id="sec1">
    <div class="card inicio w-50">
        <div class="card-body">
            <h1 class="display-4">Bienvenidos</h1>
            <a href="catalogo#sec2" class="btn btn-lg btn-secondary">Descubrir</a>
        </div>
    </div>
</section>
<section id="sec2">
    <div class="container"> 
        <h1 class="display-2 text-center">Catalogos</h1>
        <div class="row">
            <div class="col-4" *ngFor="let c of catalogos">
                <div class="card shadow-sm" (click)="verCatalogo(c.categoriaMaquinaria)">
                    <img src={{c.imagen}} alt="" class="card-img img"> 
                    <div class="card-body texto text-white">
                        <a class="card-title centrado" >{{c.categoriaMaquinaria}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
